/* HOMEPAGE */
.main-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 115px;
    padding: 10px;
    color: white;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
  }

  .main-subtitle {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
  }